@model IEnumerable<CCP.Models.DogModels.ChampionshipTitle>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dog)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficialTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Dog.RegName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficialTitle.FullTitle)
                </td>
                <td>
                    <a asp-controller="Dog" asp-action="Details" asp-route-id="@item.DogID">Details</a> |
                    <a asp-action="Index">Back to List</a>
                </td>
            </tr>
        }
    </tbody>
</table>