@model CCP.Models.KennelModels.Kennel

@{
    ViewData["Title"] = "Details";
    var kennelDogs = ViewBag.KennelDogs as List<Dog>;
}
@using Microsoft.AspNetCore.Identity
@using CCP.Areas.Identity.Data
@using CCP.Models.DogModels

@inject SignInManager<CCPUser> SignInManager
@inject UserManager<CCPUser> UserManager
<h1>Details</h1>

<div>
    <h4>Kennel</h4>
    @if(Model.Logo != null)
    {
        <div class="col-sm-10">
            <img src="@Url.Action("GetLogo", "Kennels", new{logoName = Model.Logo.Name})" alt="Kennel Logo" width="100px" height="100px"/>
        </div>
    }
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WebsiteURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WebsiteURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.About)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.About)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country.Name)
        </dd>
        <dt class = "col-sm-2">
            Dogs
        </dt>
        <dd class = "col-sm-10">
            <ul>
                @if (kennelDogs != null)
                {
                    @foreach (var dog in kennelDogs)
                    {
                        <li><a asp-action="Details" asp-controller="Dog" asp-route-Id="@dog.ID">@dog.RegName</a></li>
                    }
                }
                else
                {
                    <li>No dogs in this kennel</li>
                }

            </ul>
        </dd>
       
    </dl>
</div>
<div>
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        var userId = await UserManager.GetUserIdAsync(user);
        if (user == Model.User)
        {
            <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a>
            <span>|</span>
            <a asp-action = "Index" > Back to List</a>
        }
        else
        {
            <a asp-action="Index"> Back to List</a>
        }
    }
    else
    {
        <a asp-action="Index"> Back to List</a>
    }

</div>
