@model IEnumerable<CCP.Models.KennelModels.Kennel>

@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Identity
@using CCP.Areas.Identity.Data

@inject SignInManager<CCPUser> SignInManager
@inject UserManager<CCPUser> UserManager

<h1>Index</h1>

<p>
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        var userId = await UserManager.GetUserIdAsync(user);
        if(user.Kennel != null)
        {
            <a asp-action="Details" asp-route-id="@user.Kennel.ID"> Your kennel </a>
        }
        else
        {
            <a asp-action="Create">Create New</a>
        }
    }
    else
    {
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login to add kennel</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebsiteURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.About)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebsiteURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.About)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country.Name)
            </td>
            <td>
                    
                    @if (SignInManager.IsSignedIn(User))
                    {
                        var user = await UserManager.GetUserAsync(User);
                        var userId = await UserManager.GetUserIdAsync(user);
                        if(user.Kennel == item)
                        {
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                            <span>|</span>
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                            <span>|</span>
                            <a asp-action="Details" asp-route-id="@item.ID" > Details </a> 
                        }else
                        {
                            <a asp-action="Details" asp-route-id="@item.ID"> Details </a>
                        }
                    }
                    else if(!SignInManager.IsSignedIn(User))
                    {
                        <a asp-action="Details" asp-route-id="@item.ID"> Details </a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
