@model CCP.ViewModels.BreederDetailsViewModel

@using System.Security.Claims

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Breeder</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Breeder.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Breeder.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Breeder.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Breeder.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Breeder.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Breeder.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Breeder.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Breeder.Country.Name)
        </dd>
    </dl>
</div>
<p><strong>Dogs owned by breeder</strong></p>
@if (Model.Dogs!= null && Model.Dogs.Any()) {
    @foreach (var dog in Model.Dogs)
    {
        <ul>
            <li> @dog.RegName</li>
        </ul>
    }
}
else
{
<p>No dogs are owned by this breeder.</p>
}
<div>
    @if (User.Identity.IsAuthenticated && Model.Breeder.UserID == User.FindFirstValue(ClaimTypes.NameIdentifier))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Breeder.ID">Edit</a>
    }
    <a asp-action="Index">Back to List</a>
</div>


