@model CCP.ViewModels.DogImagesVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Dog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Dog.RegName" class="control-label"></label>
                <input asp-for="Dog.RegName" class="form-control" />
                <span asp-validation-for="Dog.RegName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label><br />
                @foreach (var gender in ViewData["Gender"] as List<SelectListItem>)
                {
                    <span>
                        <input type="radio" asp-for="Gender" value="@gender.Value" />
                        @gender.Text
                    </span>
                }
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegNo" class="control-label"></label>
                <input asp-for="RegNo" class="form-control" />
                <span asp-validation-for="RegNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dog.PetName" class="control-label"></label>
                <input asp-for="Dog.PetName" class="form-control" />
                <span asp-validation-for="Dog.PetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dog.DOB" class="control-label"></label>
                <input asp-for="Dog.DOB" class="form-control" />
                <span asp-validation-for="Dog.DOB" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="Coat" class="control-label"></label> <br />
                @foreach (var coat in ViewData["Coat"] as List<SelectListItem>)
                {
                    <span>
                        <input asp-for="Coat" type="radio" value="@coat.Value" />
                        @coat.Text
                    </span>
                }
                <span asp-validation-for="Coat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dog.Height" class="control-label"></label>
                <input asp-for="Dog.Height" class="form-control" />
                <span asp-validation-for="Dog.Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dog.Weight" class="control-label"></label>
                <input asp-for="Dog.Weight" class="form-control" />
                <span asp-validation-for="Dog.Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearOfDeath" class="control-label"></label>
                <input asp-for="YearOfDeath" class="form-control" />
                <span asp-validation-for="YearOfDeath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerID" class="control-label"></label>
                <input asp-for="OwnerID" value="@ViewBag.OwnerID.Id" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="Dog.BreederID" class="control-label"></label>
                <select asp-for="Dog.BreederID" class="form-control" asp-items="ViewBag.BreederID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Dog.KennelID" class="control-label"></label>
                <select asp-for="Dog.KennelID" class="form-control" asp-items="ViewBag.KennelID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Images" class="control-label">Images</label>
                <input asp-for="Images" type="file" class="form-control" accept=".jpg, .jpeg, .png" multiple/>
                <span asp-validation-for="Images" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
